{% extends "base.html" %}
{% load static %}
{% block body %}
<section class="heroh" style="margin-bottom: 50px;position: relative;">
  <img src="{% static 'random-foods.jpg' %}" alt="heroh">
  <div class="overlay" style="position: absolute;text-align: center;">
      <h1 style="color: #fff">Blogs</h1>
      <p style="color: #b3b3b3">home > Blog</p>
  </div>
</section>
<div class="maincons">
  
  <div class="container">

    <div style="display: flex;flex-wrap: wrap;">
        {% for blog in blogs %}
          <div class="blog-card" style="width: 500px;margin: 20px;">
            <img src="{{ blog.image.url }}" alt="Blog Image">
            <div class="blog-content">
              <h3>{{ blog.name }}</h3>
              <p>{{ blog.sliced }}</p>
              <a href="#" class="read-more">Read More</a>
            </div>
          </div>
        {% endfor %}
    </div>
  </div>
</div>
{% endblock %}